# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [1]:
print(8+12)

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [2]:
print(7-20)

-13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [3]:
print(6*9)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [4]:
print(45/9)

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [18]:
print(50//6)

8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [17]:
print(29%5)

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [19]:
print(4**3)

64

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [23]:
x = 5
print(+x)
print(-x)

5
-5

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [24]:
print(5+3*2)
print((5+3)*2)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [25]:
a = 15
b = 4
print(a+ b)
print(a -b)
print(a *b)
print(a /b)
print(a //b)
print(a %b)
print(a **b)

19
11
60
3.75
3
3
50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [28]:
n = 10
n +=5
print(n)
n*=2
print(n)
n-=4
print(n)

15
30
26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [35]:
# Answer here
x=3
y=7
x,y=y,x
# x = y
# y = x
print(x,y)

7 3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [34]:
x = int(input("Enter x value: "))
y = int(input("Enter y value: "))

print("Sum:",x+y)

Enter x value: 3
Enter y value: 2
Sum: 5

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [30]:
a = float(input("Enter first value: "))
b = float(input("Enter second value: "))
c = float(input("Enter third value: "))
total = a+b+c
avg = total /3
print("Average:",avg)

Enter first value: 23
Enter second value: 43
Enter third value: 12
Average: 26.0

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [32]:
r = float(input("Enter radius: "))
pi = 3.14159
area = pi * r**2
print("Area of circle:",area)

Enter radius: 3
Area of circle: 28.27431

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [39]:
seconds = int(input("Enter time in seconds: "))

hour = sec // 3600
sec = sec % 3600

min = sec // 60
sec = sec % 60

print(f"Time = {hour}:{min}:{sec}")

Enter time in seconds: 20000
Time = 5:33:20

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [33]:
principal = float(input("Enter principal value: "))
rate = float(input("Enter rate: "))
time = int(input("Enter time: "))
intrest = (principal* rate *time)/100
print("Interest:",intrest)

Enter principal value: 50000
Enter rate: 4
Enter time: 2
Interest: 4000.0