# Python Operators Practice Notebook

Each question is followed by its solution in the next code cell.
Difficulty level: Easy to Medium.

## Arithmetic Operators

Q1. Add two numbers a = 10 and b = 5.

In [ ]:
a=10
b=5
print(a+b)

15

Q2. Find the remainder when 17 is divided by 4.

In [ ]:
a=17
b=4
print(a%b)

1

Q3. Calculate 3 raised to the power 4.

In [ ]:
a=3
b=4
print(a**b)

81

## Assignment Operators

Q4. Assign 10 to x and add 5 to it using assignment operator.

In [ ]:
x=10
x=x+5
print(x)

15

Q5. Assign 20 to y and multiply it by 2 using assignment operator.

In [ ]:
y=20
y=y*2
print(y)

40

Q6. Assign 15 to z and subtract 7 using assignment operator.

In [ ]:
z=15
z-=7
print(z)

8

## Comparison Operators

Q7. Check if 10 is greater than 5.

In [ ]:
a=10
b=5
print(a>b)

True

Q8. Check if 7 is equal to 9.

In [ ]:
a=7
b=9
print(a==b)

False

Q9. Check if 8 is not equal to 3.

In [ ]:
a=8
b=3
print(a!=b)

True

## Logical Operators

Q10. Check if 5 > 2 and 10 > 3.

In [ ]:
a=5
b=2
c=10
d=3
print(a>b and c>d)

True

Q11. Check if 5 > 10 or 3 < 7.

In [ ]:
a=5
b=10
c=3
d=7
print(a>b or c<d)

True

Q12. Use not operator on condition 10 > 5.

In [ ]:
a=10
b=5
print(not(a>b))

False

## Identity Operators

Q16. Check if a and b refer to the same object.
Let a = 10, b = 10.

In [ ]:
a=10
b=10
print(a is b)

True

Q18. Compare identity of two variables c and d where c = d = 5.

In [ ]:
c=5
d=5
print(c==d)
print(c is d)

True
True

## Membership Operators

Q19. Check if 3 is present in the list [1,2,3,4].

In [ ]:
my_list=[1,2,3,4]
print(3 in my_list)

True

Q20. Check if 'a' is not present in the string 'python'.

In [ ]:
result='a' not in 'python'
print(result)

True

Q21. Check if 10 is in the tuple (5, 10, 15).

In [ ]:
my_tuple=(5,10,15)
is_present=10 in my_tuple
print(is_present)

True