# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
tup1=9,8,7,6,5
print(tup1)

(9, 8, 7, 6, 5)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [2]:
data=5,5.4,"hello",True
for i in data:
    print(i)

5
5.4
hello
True

### Question 3
Find the length of a tuple containing names of 4 students.

In [3]:
data="aman","abhay","aditi","aman"
print(len(data))

4

### Question 4
Access and print the last element of a tuple.

In [4]:
tup1=data[-1]
print(tup1)

aman

### Question 5
Check whether an element exists in a tuple or not.

In [5]:
data="aman","abhay","aditi","aman"
print("aman" in data)

True

### Question 6
Convert a tuple into a list.

In [6]:
tup1=list(data)
print(tup1)

['aman', 'abhay', 'aditi', 'aman']

### Question 7
Convert a list into a tuple.

In [7]:
tup1=tuple(tup1)
print(tup1)

('aman', 'abhay', 'aditi', 'aman')

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [10]:
tup1=data.count("aman")
print(tup1)

2

### Question 9
Find the index of an element in a tuple.

In [9]:
tup1=data.index("aman")
print(tup1)

0

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [12]:
tup1[2]=5
print(tup1)

TypeError: 'int' object does not support item assignment